  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #666;
    }
    svg {
      width: 300px;
      height: 300px;
    }
    .hand {
      stroke: #fff;
      stroke-linecap: round;
      transform-origin: 150px 150px;
    }
    #second-hand { stroke: red; stroke-width: 2; }
    #minute-hand { stroke: white; stroke-width: 4; }
    #hour-hand   { stroke: black; stroke-width: 6; }
    .hour-marker, .minute-marker {
      stroke: #888;
      stroke-width: 2;
    }
    .clock-text {
      fill: white;
      font: bold 16px sans-serif;
      text-anchor: middle;
    }
